.countryDirective {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: aqua;
}

.countryHeader {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	text-align: center;
}

.countrySection {
	width: 100%;
	display: flex;
	text-align: center;
}

.leftColumn {
	width: 33%;
}

.centerColumn {
	width: 33%;
	
}

.rightColumn {
	width: 33%;

}