body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: #ddbbff;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #4180ff;
	margin-top: 20px;
	height: 75px;
}

header > div {
	display: flex;
	width: 20%;
	background-color: #ddbbff;
	text-align: center;
	justify-content: space-around;
	border: 2px solid black;
}

.changeable {
	background-color: #ddbbff;
	height: 700px;
	display: flex;
	direction: column;
}